.body{
	background-image: url("https://qsf.ec.quoracdn.net/-3-images.home.illo_1920.png-26-3b3ebdbaa4afd3e2.png");
	width: 100%;
	height: 100%;
	background-size: cover;
}

.box{
	background-color: white;
	
    margin: auto;
	display: auto;
  	text-align: center;
  	background-color: white;
}

h1{
	text-align: center;
	color: darkred;
	font-size: 5em;
	font-family: american-type-writer;
}


/*This is the begining of captcha css format */
.capbox {
	background-color: #92D433;
	border: #B3E272 0px solid;
	border-width: 0px 12px 0px 0px;
	display: inline-block;
	*display: inline; zoom: 1; /* FOR IE7-8 */
	padding: 8px 40px 8px 8px;
	}

.capbox-inner {
	font: bold 11px arial, sans-serif;
	color: #000000;
	background-color: #DBF3BA;
	margin: 5px auto 0px auto;
	padding: 3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaDiv {
	font: bold 17px verdana, arial, sans-serif;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }
/*this is the end of the captcha css format*/