<h2>Sign up for an account</h1>

<form method="post" action="/users" > <!--this for capstcha: onsubmit="return checkform(this);" -->
	First Name<br>
	<input type="text" name="user[first_name]"><br>
	Last Name<br>
	<input type="text" name="user[last_name]"><br>
	Email<br>
	<input type="text" name="user[email]"><br>
	Password<br>
	<input type="password" name="user[password]">
	<br>
	<p>By clicking "Sign Up" you indicate that you have read and agree to the Terms of Service and Privacy Policy.<p>


	<input type=submit value="Cancel">
	<input type=submit value="Signup">

</form>
<script type="text/javascript">

</script>

