<h2>Please Sign In</h2>

<form method=post action=/sessions>
	Email:
    <input type=text name="user[email]"><br>
    Password
    <input type=password name="user[password]"><br><br>
    <input type=submit value="Login">
	</form>


	

