<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/application.css">	
	
</head>
<body>
 
  <ul class="navbar">
  <li id="tagline"><b>Quora</b></li>
  <li><a href="/static/home">Home</a></li>
  <li><a href="news.asp">Answer</a></li>
  <li><a href="contact.asp">Notification</a></li>
  <li id="search_box"><form
    <form method=post action=/users>
    <input type=text placeholder="Search Quora" name="user[]">
    </form></li>
  <li><a href="/users/profile"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></a></li>
  <li><a href="Add question">Add Question</a></li>
  </ul>
  </div>
<br><br><br>

<p>helo home</p>
<p>helo home</p>
<p>helo</p>
<p>helo</p>
<p>helo</p>
<p>helo</p>
<p>helo</p>
<p>helo</p>
<p>helo</p>
</body>
</html>




